body{
    background-color: black;
}
.intro{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    color: white;
    text-align:center;
    border: solid yellow;
}

.button{
    background-color:white;
    color:red;
    box-sizing:border-box;
    font-weight: bolder;
    border: none;
    text-align:center;
    padding: 20px 20px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size:90%;
}
.button:hover{
font-size: 100%;
}

.highLight{
color:rgb(219, 8, 194);
font-weight: bolder;
font-style: italic;
}